body {
}

.switch {/*selector class */
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right:200px;
}

.switch input { /*select all input tag that is in .switch class*/
        opacity: 0;
        width: 0;
        height: 0;
}

.slider {/*select slider class*/
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider::before {/*insert content before .slider class*/
                   
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
 }

input:checked + .slider { /*select element has class slider that immediately following all checked input elements*/
    background-color: #2196F3;
}

input:focus + .slider { /*select element has class slider that immediately following all focused input elements*/
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider::before {/*insert content before elements that has slider class that immediately following all checked input elements*//
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round { /*select element which has both slider class and round*/
    border-radius: 34px;
}

.slider.round:before {/*insert content for element which has both slider and round class */
        border-radius: 50%;
}


.boxModel {
    background-color: lightgrey;
    width: 1000px;
    border: 25px solid green;
    padding: 50px;
    margin: 25px;
}


.dashed {
    outline-style: dashed;
}


div.test {
    border: 1px solid green;
}

li {
    display: inline;
}

div.static {
    position: static;
    left: 30px;
    width: 400px;
    border: 3px solid #73AD21;
}

div.relative {
    position: relative;
    left: 30px;
    top: 20px;
    right: 10px;
    border: 3px solid #73AD21;
}

div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
}

div.relative2 {
    position: relative;
    left:100px;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
}

div.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
}

div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0;
    background-color: green;
    border: 2px solid #4CAF50;
}

#overflowScroll {
    background: #4CAF50;
    color: white;
    padding: 15px;
    width: 50%;
    height: 100px;
    overflow: scroll;
    border: 1px solid #ccc;
}

#overflowHidden {
    background: #4CAF50;
    color: white;
    padding: 15px;
    width: 50%;
    height: 100px;
    overflow: hidden;
    border: 1px solid #ccc;
}

#overflowAuto {
    background: #4CAF50;
    color: white;
    padding: 15px;
    width: 50%;
    height: 100px;
    overflow: auto;
    border: 1px solid #ccc;
}

h1.hidden {
    display: none;
}

span.a {
    display: inline; /* the default for span */
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue;
    background-color: yellow;
}

span.b {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue;
    background-color: yellow;
}

span.c {
    display: block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue;
    background-color: yellow;
}



.div3 {
    float: left;
    width: 100px;
    height: 50px;
    margin: 10px;
    border: 3px solid #73AD21;
}

.div4 {
    border: 1px solid red;

}

* {
    /*box-sizing: border-box;*/
}

.box {
    float: left;
    width: 33.33%;
    padding: 50px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
